# Firebase local cache
.firebase/
firebase-debug.log
firebase-debug.*.log

# Environment / secrets (if you move config here later)
.env
.env.*

# OS & editor
Thumbs.db
Desktop.ini
.DS_Store
*.swp
.vscode/*
!.vscode/launch.json

# Logs & deps
node_modules/
npm-debug.log*
